{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set errorHtml %}
  <div class="readable">
    <blockquote class="note warning">
      <p>You do not seem to have any gateways using Stripe. Please create one before using this Plugin.</p>
    </blockquote>
  </div>
{% endset %}

{% set settingsHtml %}
  <div class="readable">
    <blockquote class="note tip">
      <p>
        You can read up on the plugin docs <a href="https://github.com/craftunit/stripe-express-checkout"
                                              target="_blank" aria-label="Stripe Express Checkout Plugin Documentation">here</a>.
        <br>
        If you would like to know more about the Stripe Express Checkout Element, be sure to check out the official
        <a href="https://docs.stripe.com/elements/express-checkout-element?locale=de-DE" target="_blank">
          Stripe Express Checkout Element Documentation
        </a>
        and the <a href="https://docs.stripe.com/js/element/express_checkout_element" target="_blank">API docs</a>.
      </p>
    </blockquote>
  </div>
  <hr>

  <input type="hidden" name="action" value="stripe-express-checkout/settings/save-settings">
  {% include 'stripe-express-checkout/_includes/settings/' %}
  {% include 'stripe-express-checkout/_includes/settings/general' %}
  {% include 'stripe-express-checkout/_includes/settings/google-pay' %}
  {% include 'stripe-express-checkout/_includes/settings/apple-pay' %}
  {% include 'stripe-express-checkout/_includes/settings/pay-pal' %}
  {% include 'stripe-express-checkout/_includes/settings/amazon-pay' %}
  {% include 'stripe-express-checkout/_includes/settings/link' %}
{% endset %}

{% set title = "Stripe Express Checkout Settings" %}
{% set html %}
  {% if gateways | length == 1 %}
    {{ errorHtml }}
  {% else %}
    {% set fullPageForm = true %}
    {% set tabs = {
      settings: {
        label: 'Settings'|t('plugin-handle'),
        url: '#settings',
      },
      generalAppearance: {
        label: 'General Appearance'|t('plugin-handle'),
        url: '#general',
      },
      applePay: {
        label: 'Apple Pay'|t('plugin-handle'),
        url: '#apple-pay',
      },
      googlePay: {
        label: 'Google Pay'|t('plugin-handle'),
        url: '#google-pay',
      },
      payPal: {
        label: 'PayPal'|t('plugin-handle'),
        url: '#pay-pal',
      },
      amazonPay: {
        label: 'Amazon Pay'|t('plugin-handle'),
        url: '#amazon-pay',
      },
      link: {
        label: 'Link'|t('plugin-handle'),
        url: '#link',
      },
    } %}
    {{ settingsHtml }}
  {% endif %}
{% endset %}


{% set selectedTab = 'settings' %}
{% block content %}
  {{ html }}
{% endblock %}
